<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>00-模板.md</key>
			<dict>
				<key>lastModification</key>
				<real>501219476.59331799</real>
				<key>version</key>
				<dict>
					<key>f5e064b664878d8badaf7a90d674daf83c0e47c6ba3d97bf768759d7e6b43067</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>01-我的工具清单.md</key>
			<dict>
				<key>lastModification</key>
				<real>501219476.59332198</real>
				<key>version</key>
				<dict>
					<key>f5e064b664878d8badaf7a90d674daf83c0e47c6ba3d97bf768759d7e6b43067</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>02-Sublime Text使用技巧.md</key>
			<dict>
				<key>lastModification</key>
				<real>501219476.59332103</real>
				<key>version</key>
				<dict>
					<key>f5e064b664878d8badaf7a90d674daf83c0e47c6ba3d97bf768759d7e6b43067</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>03-markdown格式.md</key>
			<dict>
				<key>lastModification</key>
				<real>501219476.59332103</real>
				<key>version</key>
				<dict>
					<key>f5e064b664878d8badaf7a90d674daf83c0e47c6ba3d97bf768759d7e6b43067</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>04-SVN常用命令.md</key>
			<dict>
				<key>lastModification</key>
				<real>501219476.59332103</real>
				<key>version</key>
				<dict>
					<key>f5e064b664878d8badaf7a90d674daf83c0e47c6ba3d97bf768759d7e6b43067</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>05-GitHub使用技巧.md</key>
			<dict>
				<key>lastModification</key>
				<real>501219476.593319</real>
				<key>version</key>
				<dict>
					<key>f5e064b664878d8badaf7a90d674daf83c0e47c6ba3d97bf768759d7e6b43067</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>05-Git常用命令.md</key>
			<dict>
				<key>lastModification</key>
				<real>501219476.59332198</real>
				<key>version</key>
				<dict>
					<key>f5e064b664878d8badaf7a90d674daf83c0e47c6ba3d97bf768759d7e6b43067</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>06-chrome常用插件.md</key>
			<dict>
				<key>lastModification</key>
				<real>501219476.59332198</real>
				<key>version</key>
				<dict>
					<key>f5e064b664878d8badaf7a90d674daf83c0e47c6ba3d97bf768759d7e6b43067</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Mac软件.md</key>
			<dict>
				<key>lastModification</key>
				<real>501236658.823726</real>
				<key>version</key>
				<dict>
					<key>f5e064b664878d8badaf7a90d674daf83c0e47c6ba3d97bf768759d7e6b43067</key>
					<integer>12</integer>
				</dict>
			</dict>
			<key>README.md</key>
			<dict>
				<key>lastModification</key>
				<real>501219476.59332001</real>
				<key>version</key>
				<dict>
					<key>f5e064b664878d8badaf7a90d674daf83c0e47c6ba3d97bf768759d7e6b43067</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Sublime Text快捷键.md</key>
			<dict>
				<key>lastModification</key>
				<real>501219476.59332299</real>
				<key>version</key>
				<dict>
					<key>f5e064b664878d8badaf7a90d674daf83c0e47c6ba3d97bf768759d7e6b43067</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>chrome浏览器.md</key>
			<dict>
				<key>lastModification</key>
				<real>501219476.59332001</real>
				<key>version</key>
				<dict>
					<key>f5e064b664878d8badaf7a90d674daf83c0e47c6ba3d97bf768759d7e6b43067</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>无标题 - 2.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>504344608.34646899</real>
				<key>lastModification</key>
				<real>504344608.34646899</real>
				<key>version</key>
				<dict>
					<key>f5e064b664878d8badaf7a90d674daf83c0e47c6ba3d97bf768759d7e6b43067</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>网络命令ping一下.md</key>
			<dict>
				<key>lastModification</key>
				<real>501219476.59332299</real>
				<key>version</key>
				<dict>
					<key>f5e064b664878d8badaf7a90d674daf83c0e47c6ba3d97bf768759d7e6b43067</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>00-模板.md</string>
		</array>
		<array>
			<string>05-GitHub使用技巧.md</string>
		</array>
		<array>
			<string>chrome浏览器.md</string>
		</array>
		<array>
			<string>README.md</string>
		</array>
		<array>
			<string>03-markdown格式.md</string>
		</array>
		<array>
			<string>04-SVN常用命令.md</string>
		</array>
		<array>
			<string>02-Sublime Text使用技巧.md</string>
		</array>
		<array>
			<string>06-chrome常用插件.md</string>
		</array>
		<array>
			<string>无标题 - 2.md</string>
		</array>
		<array>
			<string>01-我的工具清单.md</string>
		</array>
		<array>
			<string>05-Git常用命令.md</string>
		</array>
		<array>
			<string>网络命令ping一下.md</string>
		</array>
		<array>
			<string>Sublime Text快捷键.md</string>
		</array>
		<array>
			<string>Mac软件.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>f5e064b664878d8badaf7a90d674daf83c0e47c6ba3d97bf768759d7e6b43067</key>
			<integer>14</integer>
		</dict>
	</dict>
</dict>
</plist>
